<!-- <app-prayer-requests></app-prayer-requests> -->
<!-- <app-prayer-request-form></app-prayer-request-form> -->

<div>
    <div class="container">

        <app-header></app-header>

        <ng-container *ngIf="authService.isAuthenticated(); else unauthTemplate">
            <!-- <router-outlet></router-outlet> -->
             You are logged in as {{ authService.sessionSignal()?.user?.email }}.
        </ng-container>

        <ng-template #unauthTemplate>
            <app-unauth-page></app-unauth-page>
        </ng-template>
    </div>
</div>